$primary-color: #25c24d;
$primary-color-light: #68f67c;
$primary-color-dark: #00901d;

$secondary-color: #555555;
$secondary-color-dark: #2b2b2b;
$secondary-color-light: #808080;


$white: #ffffff;
$black: #000000;
$orange: #fb812c;
$red: #d10403;
$blue: #5f8dd3;