.btn {
  background-color: $primary-color-dark;
  border: none;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  height: 3.6rem;
  letter-spacing: .5px;
  line-height: 3.6rem;
  padding: 0 5rem;
  outline: 0;
  text-transform: uppercase;
  transition: background-color .2s ease-out;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba($black, 0.14), 0 3px 1px -2px rgba($black, 0.12), 0 1px 5px 0 rgba($black, 0.2);
  &:hover {
    background-color: $primary-color;
  }
  &:active {
    background-color: rgba($primary-color-dark, .8);
  }
  &--delete {
    background-color: $red;
    &:hover {
      background-color: $red;
    }
    &:active {
      background-color: rgba($red, .8);
    }
  }
}

.btn-float {
  position: fixed;
  bottom: 2.5rem;
  right: 1.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 100rem;
  border: none;
  background-color: $primary-color-dark;
  color: $white;
  font-weight: 900;
  font-size: 4rem;
  box-shadow: 0 2px 2px 0 rgba($black, 0.14), 0 3px 1px -2px rgba($black, 0.12), 0 1px 5px 0 rgba($black, 0.2);
  cursor: pointer;
  outline: none;
  z-index: 100;
  &:active {
    background-color: rgba($primary-color-dark, .8);
  }
}