@import '../../../style/sass/abstracts/variables';
.form-group {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.form-actions {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-actions-iline {
  display: flex;
  justify-content: space-between;
}

.form__label {
  display: inline-block;
  color: $secondary-color-light;
  margin: 0 0 1rem 1.5rem;
}