$color-primary: #25c24d;
$color-primary-dark: #68f67c;
$color-primary-light: #00901d;

$color-secondary: #555555;
$color-secondary-dark: #808080;
$color-secondary-light: #2b2b2b;


$white: #ffffff;
$black: #000000;


